*{
    overflow-x: none;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header {
    background-image: url("pexels-michal-marek-1774389.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* width: 100%; */
    /* margin: 0 auto; */
}
.container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 3em;

}
h4{
    font-family: 'Ribeye', sans-serif;
    color: #ececec;
    font-size : 1.125rem;
    font-weight: 400;
    user-select: none;
}
.list ul{
    display: flex;
}

.list ul li {
    /* padding: 0 1em; */
    font-size: large;
    list-style: none;
    color: #ececec;
}
.liGap + .liGap {
    margin-left: 2em;
}
a{ 
    color: #ffffff;
    text-decoration: none;
} 
.btn-red {
    text-align: center;
    font-weight: 900;
    margin: 0 0 auto; 
    padding: .5em ;
    background: #C9453B;
    border-radius: 5px;
    line-height: 150%;
    opacity: 0.8;

}

.onImage {
    padding: 9em 9em 15em;
}
.onImgP {
    overflow-x: hidden;
    text-transform: capitalize;
    color: #ececec;
    width: 80%;
    max-width: 750px;
    font-size: 3rem;
    font-weight: 900;
    user-select: none;
}
/* ------------------------------ */
h2 {
    font-family: 'Gelasio', serif;
    margin: 1em 0;
    text-align: center;
    font-size: 2rem;
    text-align: center;
}
#pdescription {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 3em;
    font-weight: 500;
}
.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    gap: 2rem;
}
.col {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    width: 300px;
    transition: all 300ms ease-in-out;
    padding-top: 10px;
}
.col h3 {
    font-family: 'Gelasio', serif;
    margin: 1em 0;
}
.col img{
    width: 250px;
    border-radius: 100px; 
}
.col:hover {
    transform: scaleY(1.05);
}
/* ------------------------------------- */
.gridRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    grid-gap: 1rem;
    height: 400px;
}
.box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 0 auto;
    overflow-x:hidden;
}
.box img {
    width: 250px;
}
.box + .box {
    margin-left : 5px;
}
/* ------------------------------------------- */
.wrapper {
    margin-bottom: 10%;
}
/* ------------------------------- */
.actionCon {
    overflow:hidden;
    width:100vw;
    height: 200px;
     }
.actionType7 {
    position:relative;
    width: 160px;
    height:100px;
    /* margin:105px 350px; */
    margin: 0 auto;
    box-sizing:border-box;
    overflow-x: hidden;
}
.actionType7 .pacman_1,
.actionType7 .pacman_2 {
    width:0;
    height:0;
    border-right:40px solid transparent;
    border-top:40px solid #f1e156;
    border-left:40px solid #f1e156;
    border-bottom:40px solid #f1e156;
    border-radius:50%;
}
.actionType7 .pacman_1 {
    animation:ratatePacman1 .33s infinite;
}
.actionType7 .pacman_2 {
    margin-top:-80px;
    animation:ratatePacman2 .33s infinite;
}
.actionType7 .circle {
    position:absolute;
    top:50%;
    right:-150px;
    width:0;
    height:0;
    margin-top:-4px;
    border:8px solid #f1e156;
    border-radius:50%;
    transform:translateX(0);
    -webkit-transform:translateX(0);
}
.actionType7 .circle.item1 {
    animation:circle 1s .33s linear infinite;
    -webkit-animation:circle 1s .33s linear infinite;
}
.actionType7 .circle.item2 {
    animation:circle 1s .66s linear infinite;
    -webkit-animation:circle 1s .66s linear infinite;
}
.actionType7 .circle.item3 {
    animation:circle 1s .99s linear infinite;
    -webkit-animation:circle 1s .99s linear infinite;
}
.actionType7 .circle.item4 {
    animation:circle 1s 1.32s linear infinite;
    -webkit-animation:circle 1s 1.32s linear infinite;
}
@keyframes circle {
   75% {
    opacity:.6;
}
100%{
   -webkit-transform:translateX(-200px);
   transform:translateX(-200px);
    opacity:0;
}}
@-webkit-keyframes circle {
   75% {
    opacity:.6;
}
100%{
   -webkit-transform:translateX(-200px);
   transform:translateX(-200px);
    opacity:0;
}}
@keyframes ratatePacman1 {
0%,100%{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
50%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}}
@keyframes ratatePacman1 {
0%,100%{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
50%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}}
@keyframes ratatePacman2 {
0%,100%{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
50%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}}
@-webkit-keyframes ratatePacman2 {
0%,100%{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
50%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}}
/* ---------------------------------- */
.footer {
	padding-block: 50px;
	padding-bottom: 25px;
	background-color: #151515;
	color: #666873;
	/* Margin-top: auto; for demo use only */
	/* margin-top: auto; */
}
.footer__container {
	max-width: 1160px;
	margin: auto;
	padding: 0 15px;
}
.footer__top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	row-gap: 20px;
}
.footer__title {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}
.footer__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer__list-link {
    color: #666873;
	transition: all 1s;
}
.footer__list-link:hover {
	color: blue;
}
.footer__divider {
	margin-block: 25px;
	border: none;
	border-top: 1px solid rgba(252, 255, 255, 0.1);
}
.footer__bottom {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
    user-select: none;
}
.footer__list--bottom {
	flex-direction: row;
}

.footer__list-item{
    transition: all 200ms linear;
}
.footer__list-item:hover {
    transform: scaleX(0.9)
}
