*{
    overflow-x: none;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header {
    /* background-image: url("Rectangle 31.png"); */
    background-image: url("pexels-michal-marek-1774389.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* width: 100%; */
    /* margin: 0 auto; */
}
.container {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 3em;

}
h4{
    font-family: 'Ribeye', sans-serif;
    color: #ececec;
    font-size : 1.125rem;
    font-weight: 400;
}
.list ul{
    display: flex;
}

.list ul li {
    /* padding: 0 1em; */
    font-size: large;
    list-style: none;
    color: #ececec;
}
li + li {
    margin-left: 2em;
}
a{ 
    color: #ffffff;
    text-decoration: none;
} 
.btn-red {
    text-align: center;
    font-weight: 900;
    margin: 0 0 auto; 
    padding: .5em ;
    background: #C9453B;
    border-radius: 5px;
    line-height: 150%;
    opacity: 0.8;

}

.onImage {
    padding: 9em 9em 15em;
}
.onImgP {
    overflow-x: hidden;
    text-transform: capitalize;
    color: #ececec;
    width: 80%;
    max-width: 750px;
    font-size: 3rem;
    font-weight: 900;
}
/* ------------------------------ */
h2 {
    margin: 1em 0;
    text-align: center;

}
#pdescription {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 3em;
}
#popularHeading {
    font-family: 'Gelasio', serif;
    font-size: 1.5rem;
}
.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.col {
    text-align: center;
}
.col h3 {
    font-family: 'Gelasio', serif;
    margin: 1em 0;
}
.col img{
    width: 250px;
    border-radius: 100px; 
}
/* ------------------------------------- */
.gridRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}
.box {
    margin: 0 auto;
    overflow-x:hidden;
}
.box img {
    width: 250px;
}
.box + .box {
    margin-left : 5px;
}
/* ------------------------------------------- */
.wrapper {
    margin-bottom: 10%;
}
/* ---------------------------------- */
.footer {
	padding-block: 50px;
	padding-bottom: 25px;
	background-color: #151515;
	color: #666873;
	/* Margin-top: auto; for demo use only */
	margin-top: auto;
}
.footer__container {
	max-width: 1160px;
	margin: auto;
	padding: 0 15px;
}
.footer__top {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	row-gap: 20px;
}
.footer__title {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}
.footer__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer__list-link {
	transition: color 0.25s;
}
.footer__list-link:hover {
	color: #fff;
}
.footer__divider {
	margin-block: 25px;
	border: none;
	border-top: 1px solid rgba(252, 255, 255, 0.1);
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.footer__list--bottom {
	flex-direction: row;
}

